### 1. Load and Preview the Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Sales.csv")

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,INDMKB,8/11/2020,11/11/2020,sas,as,asa,asa,asas,asas,...,42420.0,INDMKB,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,8/11/2020,11/11/2020,Second Class,CG-12520,asasa,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,12/6/2020,16/6/2020,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,11/10/2019,18/10/2019,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,11/10/2019,18/10/2019,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### 2. Understanding the Data Structure

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(15)
memory usage: 1.6+ MB

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

### 3.Validate data quality

In [6]:
df.isnull().sum()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df["Country/Region"].value_counts()

United States    9993
asas                1
Name: Country/Region, dtype: int64

In [9]:
df[["Order Date","Ship Date"]].head()

   Order Date   Ship Date
0   8/11/2020  11/11/2020
1   8/11/2020  11/11/2020
2   12/6/2020   16/6/2020
3  11/10/2019  18/10/2019
4  11/10/2019  18/10/2019

### 4.Data Cleaning

In [10]:
df["Order Date"] = pd.to_datetime(df["Order Date"], dayfirst=True)
df["Ship Date"] = pd.to_datetime(df["Ship Date"], dayfirst=True)

In [11]:
df["Postal Code"].isnull().sum()

11

In [12]:
df = df.dropna(subset=["Postal Code"])

#### Rows with missing Postal Code values were removed since they represent a very small portion of the data and are not critical for the analysis.

In [13]:
df = df[df["Country/Region"] == "United States"]

#### First row was Invalid and is removed to ensure  data consistency

In [14]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,asasa,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9982 entries, 1 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9982 non-null   int64
 1   Order ID        9982 non-null   object
 2   Order Date      9982 non-null   datetime64[ns]
 3   Ship Date       9982 non-null   datetime64[ns]
 4   Ship Mode       9982 non-null   object
 5   Customer ID     9982 non-null   object
 6   Customer Name   9982 non-null   object
 7   Segment         9982 non-null   object
 8   Country/Region  9982 non-null   object
 9   City            9982 non-null   object
 10  State           9982 non-null   object
 11  Postal Code     9982 non-null   float64
 12  Region          9982 non-null   object
 13  Product ID      9982 non-null   object
 14  Category        9982 non-null   object
 15  Sub-Category    9982 non-null   object
 16  Product Name    9982 non-null   object
 17  Sales           9982 non-null   float64
 18  Quantity        9982 non-null   int64
 19  Discount        9982 non-null   float64
 20  Profit          9982 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.7+ MB

In [16]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country/Region    0
City              0
State             0
Postal Code       0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

### 5. Create derived features and flags

#### 5.1 Active vs Inactive Customers

In [17]:
last_purchase = df.groupby("Customer ID")["Order Date"].max()
active_customers = last_purchase >= (last_purchase.max() - pd.Timedelta(days=90))

In [18]:
df["Is_Active"] = df["Customer ID"].map(active_customers)

In [19]:
df["Is_Active"].value_counts()

True     5957
False    4025
Name: Is_Active, dtype: int64

In [20]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Is_Active
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,asasa,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,False
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,True
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,True
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,True
5,6,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,True

#### 5.2 Repeat Customers

In [21]:
orders_per_customer = df.groupby("Customer ID")["Order ID"].nunique()

In [22]:
repeat_customers = orders_per_customer > 1

In [23]:
df["Is_Repeat"] = df["Customer ID"].map(repeat_customers)

In [24]:
df["Is_Repeat"].value_counts()

True     9955
False      27
Name: Is_Repeat, dtype: int64

#### 5.3 New Customers

In [25]:
current_month = df["Order Date"].dt.to_period("M").max()

In [26]:
first_purchase_date = df.groupby("Customer ID")["Order Date"].min()
reference_date = df["Order Date"].max()

In [27]:
new_customers = first_purchase_date >= (reference_date - pd.Timedelta(days=90))

In [28]:
df["Is_New"]= df["Customer ID"].map(new_customers)

In [29]:
df["Is_New"].value_counts()

False    9966
True       16
Name: Is_New, dtype: int64

#### New customers are defined as customers whose first purchase happend within the last 90 days

In [30]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Is_Active,Is_Repeat,Is_New
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,asasa,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,False,True,False
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,True,True,False
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,True,True,False
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,True,True,False
5,6,CA-2018-115812,2018-06-09,2018-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694,True,True,False

#### 5.4 Churned Customers

In [31]:
df["Is_churned"] = ~df["Is_Active"]

In [32]:
df["Is_churned"].value_counts()

False    5957
True     4025
Name: Is_churned, dtype: int64

#### Churned customers are defined as the opposite of active customers, meaning customers who did not make a purchase within the last 90 days

## Part B — Business KPIs
### B1. Active Customers
#### The selected period is defined as the last 30 days, The previous period is defined as the 30 days immediately before that

In [33]:
df_30_days = df[df["Order Date"] >= (df["Order Date"].max() - pd.Timedelta(days=30))]
active_customers_30d = df_30_days["Customer ID"].nunique()

In [34]:
print("Active Customers (Last 30 Days):", active_customers_30d)

Active Customers (Last 30 Days): 202

### B.2 New Customers

In [35]:
reference_date = df["Order Date"].max()
first_purchase = df.groupby("Customer ID")["Order Date"].min()

In [36]:
new_customers_30D = first_purchase[first_purchase >= (reference_date - pd.Timedelta(days=30))].count()

print("New Customers (Last 30 Days):", new_customers_30D)

New Customers (Last 30 Days): 0

### B3. Churn Rate

#### Churned customers are customers who purchased in the previous 30-day period but did not purchase in the last 30-day period.

In [37]:
current_customers = df[
    df["Order Date"] >= (reference_date - pd.Timedelta(days=30))
]["Customer ID"].unique()

In [38]:
previous_customers = df[
    (df["Order Date"] >= (reference_date - pd.Timedelta(days=60))) &
    (df["Order Date"] <  (reference_date - pd.Timedelta(days=30)))
]["Customer ID"].unique()

In [39]:
churned_customers = set(previous_customers) - set(current_customers)

churned_count = len(churned_customers)
previous_count = len(set(previous_customers))

churn_rate_30d = churned_count / previous_count if previous_count != 0 else 0

In [40]:
print("Churn Rate (Last 30 Days): {:.2%}".format(churn_rate_30d))

Churn Rate (Last 30 Days): 73.93%

### B4. Retention Rate

In [41]:
orders_per_customer = df.groupby("Customer ID")["Order ID"].nunique()

In [42]:
repeat_customers = orders_per_customer[orders_per_customer > 1]

In [43]:
retention_rate = len(repeat_customers) / orders_per_customer.count()

In [44]:
print("Retention Rate (Repeat Customers): {:.2%}".format(retention_rate))

Retention Rate (Repeat Customers): 98.49%

### B5. Average Order Value (AOV)

In [45]:
total_sales = df["Sales"].sum()
total_orders = df["Order ID"].nunique()

aov = total_sales / total_orders

In [46]:
print("Average Order Value (AOV): {:.2f}".format(aov))

Average Order Value (AOV): 457.33

### B.6 Customer Lifetime Value (LTV)

In [47]:
revenue_per_customer = df.groupby("Customer ID")["Sales"].sum()

In [48]:
LTV = revenue_per_customer.mean()
print("Customer Lifetime Value (LTV): {:.2f}".format(LTV))

Customer Lifetime Value (LTV): 2885.26

### B.7 Product & Category Performance (Based on sales)

#### Top Products

In [49]:
top_products = (
    df.groupby("Product Name")["Sales"]
      .sum()
      .sort_values(ascending=False)
      .head(10)
      .reset_index()
)

top_products

                                        Product Name      Sales
0              Canon imageCLASS 2200 Advanced Copier  61599.824
1  Fellowes PB500 Electric Punch Plastic Comb Bin...  27453.384
2  Cisco TelePresence System EX90 Videoconferenci...  22638.480
3       HON 5400 Series Task Chairs for Big and Tall  21870.576
4         GBC DocuBind TL300 Electric Binding System  19823.479
5   GBC Ibimaster 500 Manual ProClick Binding System  19024.500
6               Hewlett Packard LaserJet 3310 Copier  18839.686
7  HP Designjet T520 Inkjet Large Format Printer ...  18374.895
8          GBC DocuBind P400 Electric Binding System  17965.068
9        High Speed Automatic Electric Letter Opener  17030.312

#### Top Categories

In [50]:
top_categories = (
    df.groupby("Category")["Sales"]
      .sum()
      .sort_values(ascending=False)
      .head(3)
      .reset_index()
)

top_categories

          Category        Sales
0       Technology  834554.2730
1        Furniture  736617.7353
2  Office Supplies  716837.5220

#### Top Sub-Categories

In [51]:
top_subcategories = (
    df.groupby("Sub-Category")["Sales"]
      .sum()
      .sort_values(ascending=False)
      .head(5)
      .reset_index()
)

top_subcategories

  Sub-Category       Sales
0       Phones  328712.304
1       Chairs  327733.903
2      Storage  222279.318
3       Tables  206965.532
4      Binders  203412.733

### B.8 Customer Segmentation (Frequency & Monetary)

In [52]:
customer_fm = df.groupby("Customer ID").agg(
    Frequency=("Order ID", "nunique"),
    Monetary_LTV=("Sales", "sum")
).reset_index()

customer_fm.head()

  Customer ID  Frequency  Monetary_LTV
0    AA-10315          5      5563.560
1    AA-10375          9      1056.390
2    AA-10480          4      1790.512
3    AA-10645          6      5086.935
4    AB-10015          3       886.156

In [111]:
df.to_csv("sales_clean.csv", index=False)